# Node modules
node_modules/

# Environment variables
.env

# Database files
bot.db
/db/migrations/
*.db
# History or temp files
.history/*

# Generated Prisma client
/generated/prisma

# Config files
config.json
